.map_search{
    margin-top: 20px;
    margin-left: 40px;
    margin-right: auto;
}
#svg_map{
    position: absolute;
    top: 10vh;
    left: 5vw;
    width:50vw;
    height:80vh;
}
#svg_heat{
    position: absolute;
    top: 10vh;
    left: 55vw;
    width:35vw;
    height: 80vh;
}
.tooltip{
    position: absolute;
    width: 5vw;
    height: auto;
    font-family: simsun;
    font-size: 14px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    background-color: white;
    border-radius: 5px;
}