
.bg-blur {
    float: left;
    background-repeat: repeat;
    background-position: center center;
    background-size: cover;
    -webkit-filter: blur(15px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
}
.content-front {
    position:absolute;
    left: 10px;
    right: 10px;
    height:700px;
    /*width: 1060px;*/
    width: 100%;
    text-align: center;
}
.bg {
    background: url('../image/bg3.jpg');
    height:700px;
    /*width: 1060px;*/
    width: 100%;
    text-align: center;
}
.map_search{
    margin-top: 20px;
    margin-right: auto;
}

.div-title {
    font-size: 28px;
    background: #EEE;
    margin-top: 30px;
    text-shadow: 2px -2px #060406, 1px -1px white;
    text-align: center;
    font-weight: bolder;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text
}

#svg_map{
    position: absolute;
    top: 25vh;
    left: 0vw;
    width:50vw;
    height:70vh;
    bottom:0vh;
}
#svg_heat{
    position: absolute;
    top: 35vh;
    left: 50vw;
    width:40vw;
    height:55vh;
    bottom:5vh;
}
.tooltip{
    position: absolute;
    width: 5vw;
    height: auto;
    font-family: simsun;
    font-size: 14px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    background-color: #6d8b90;
    border-radius: 5px;
}
.tooltip3{
    position: absolute;
    width: 6vw;
    height: 3vh;
    top:30vh;
    left:64vw;
    font-family: simsun;
    font-size: 15px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    background-color: white;
    border-radius: 5px;
}
.tooltip4{
    position: absolute;
    width: 10vw;
    height: 3vh;
    top:30vh;
    left:79.8vw;
    font-family: simsun;
    font-size: 15px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    background-color: white;
    border-radius: 5px;
}
.label-v-center{
    line-height:36px;
    vertical-align:middle;
    display:inline-block;
}
.date-picker-height{
    height:36px;
}

.select-city{
    width: 100%;
    fill: #7b9096;
}